@*

1 Create a from containing:
     input for the phone number
     check box list of toppings
     style using bootstrap

2 Post the form data to an MVC action

3 Display a confirmation page with phone number and selected toppings

*@

<Input id="PhNumber" rows="2" cols="20" value="phone number" name="name1"/>
<input id="Submit1" type="submit" value="continue" />

<table style="width:100%;">
    <tr>
        <td>
            <label >topping name</label>
        </td>
    </tr>  
    
    <tr>
        <td>
            <label>Anchovies</label>
            <input id="Checkbox1" type="checkbox" />
        </td>
    </tr>
    <tr>
        <td>
            <label><label>Pepperoni</label>
            <input id="Checkbox1" type="checkbox" />
        </td>
    </tr>

</table>


